/* 
  PSEUDO-ELEMENTOS
  Son palabras clave que trabajan con partes de un elemento, no es un elemento como tal sino una parte de un elemento
  Los pseudoelementos empiezan con dos puntos ::seudoelemento
  Los pseudoelementos tienen sus dificultades, hay propidades o estilos que no funcionan en ellos

  ::first-letter toma la primera letra de un texto

  ::first-line toma la primera línea de un texto, a medida que se agranda la línea va tomando el estilo indicado para la primera línea

  ::selection permite cambiar el estilo de selección del contenido de la página o del elemento indicado

  ::placeholder permite cambiar el estilo del texto en el placeholder de los inputs. El padding se aplica lateralmente

  ::marker cambia el color de las viñetas de los li

  ::before permite poner un texto antes del elemento indicado utilizando la propiedad content. Este texto no va a aparecer si inspeccionamos la página y no puede seleccionarse 

  ::after hace lo mismo pero coloca el texto al después de un elemento
*/

div {
  padding: 20px;
}

h1::first-letter {
  color: red;
  font-size: 3em;
  letter-spacing: -8px;
}

div::first-line {
  color: red;
  font-weight: bold;
}

div::selection {
  background-color: red;
  color: #fff;
}

input::placeholder {
  color: green;
  background-color: #000;
}

li::marker {
  color: red;
}

li::before {
  content: "Antes:";
  color: red;
}

li::after {
  content: " Después:";
  color: blue;
}
