/*
  WIDTH Y HEIGHT
  Width y height: define el ancho y alto del elemento
  Si el valor de la caja interna esta en porcenaje, este va a ser en función de la caja que lo contiene
*/

div {
  background-color: red;
  width: 300px;
  height: 100px;
}

input {
  width: 90%;
}

form {
  width: 300px;
}
