/*
CASCADA Y ESPECIFICIDAD
Resuelven los conflictos que ocurren cuando dos estilos chocan sobre un elemento

La especificidad: es como la puntuación de un estilo. Si tienen la misma especificidad sigue el orden en que aparecen las reglas. Si pongo dos selectores o aplico los métods de selección combinados se adicionan las especificidades
Ejemplo: body .titulo{} es más específico que .título
Esto puede aplicarse como fallback, cuando no se puede aplicar una regla, se pasa a la siguiente

La cascada nos díce: el orden en el que damos los estilos sí importa
Si dos reglas tienen el mismo valor de especificidad se va a decidir cual aplicar por el orden y va a quedar la última que apliquemos

Qué pasa si un elemento tiene más especificidad? Esto significa que ese elemento es más específico. Por ejemplo una clase es más específica que un elemento como selector

La prioridad la da la especificidad, la cual es un concepto de cascada

Hay algo aún más importante al aplicar estilos y es el estilo en línea, cuando se aplica directamente a un elemento en el archivo HTML

Niveles de importancia
De mayor a menor los niveles son los siguiente:
!IMPORTANT: tiene más importancia que todo lo demás en los estilos
Atributo Style
Etiqueta Style - Archivo CSS externo: tienen el mismo nivel de importancia
Cambios hechos por el usuario (extensiones, configuración, etc)
Navegador

*/

#titulo {
  color: green;
}

.titulo {
  color: red;
}

h1 {
  color: blue;
}
