/* 
  GRADIENTES
    Se puede aplicar gradiente tanto con background como con background-image
    linear-gradient(color1, coloer2): es una función
    Ejemplo: linear-gradient(red, green)
    radial-gradient(igual lineal), pero desde el centro
    conic-gradient(igual lineal): formato de cono
    Si como primer parámetro en el lineal usamos un angulo (20deg) el degradado se logra en diagonal
*/

body {
  background-color: red;
  margin: 0;
}

.box {
  width: 300px;
  height: 400px;
  background: linear-gradient(to top, transparent, #0009);
  margin: 0;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  border-top: 7px solid #900;
}

h1 {
  margin: 0;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
