/* 
  TEXTAREA
  min-width El textarea viene configurado para que si le ponemos un width del 100% no se pone al 100%, esto es por sus propiedades iniciales, las que trae configuradas por defecto, si quieren que se aplique ese porcentaje tenemos que usar min-width: 100%, esta propiedad evita que se amplie hacia los costados, pero solo hacia adentro, porque hacia afuera se puede cambiar el tamaño

  min-heigth: como mínimo puede tener este alto

  max-height: como máximo puede tener este alto

  Al cargar la página lo hace con el alto y/o ancho mínimo

  resize define si puede cambiarse el tamaño del textarea
  - both permite cambiar el tamaño en el eje x y en el eje y
  - vertical se agranda solo en el eje vertical
  - horizontal se agranda solo en el eje horizontal
  - none el tamaño no cambia, no se expande en ninguna dirección, sólo agrega una scroll bar

  La tipografía no va a ser la que nosotros le pongamos en body, si la queremos cambiar debemos hacerlo en el propio textarea, no va a tomar lo que pongamos en body

  form-sizing permite que el textarea crezca con nuestro texto, esta 
  - content: el contenido se adapta 
  propiedad todavía no está disponible

  Lo que hace Dalto es dejar el resize en none y darle un min-width y dejarlo así
*/

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #eee;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 22px;
  padding: 10px;
}

form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto; /* centrar */
  box-shadow: 0 0 55px #fff2;
  margin-top: 50px;
}

.form_input {
  padding: 6px 20px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none; /* especificar propiedades a 0 */
  border: 1px solid #666;
  box-shadow: 0 0 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #eee;
}

textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
}
