/*
HERENCIA
Dice que algunas propiedades se pueden heredar y otras no

Si le pongo un color al body, todo el texto dentro de él toma ese color

color: inherit es el color por defecto que el elemento hereda de su padre o del elemento siguiente hacia arriba

La propiedad width no es heredable por defecto
Los elementos en bloque por defecto tienen un width del 100%

initial: indica que la propiedad que tiene ese valor no hereda los valores de su padre, toma el valor que tiene el navegador por defecto.

unset: restablece al valor inicial y actúa como inherit, revierte al valor del navegador

revert: intenta primero encontrar el estilo del usuario, si el usuario definió un estilo lo revierte a eso y si no lo revierte a inherit, al valor del navegador

Se define el font-family una vez y se hereda en los inputs de los formularios
El a también podemos hacer que herede los colores
*/

/*En este caso todos los elementos toman estos estilos hasta que los cambie independientemente*/
body {
  color: brown;
  font-family: sans-serif;
}

h1 {
  color: inherit;
}

p {
  color: blue;
}
