/*
  CREANDO UNA PÁGINA WEB
  Tenemos la complejidad por la cantidad de código y por el código en sí, que vamos a estar trabajando
  Es importante al emprender un proyecto grande como corregir errores sin afectar al resto del código y que tampoco sea tan complicado encontrarlos

  Sistema a usar Mobile First
  
  PASOS A SEGUIR EN UN PROYECTO REAL
  1. Crear el wireframe
  son como bocetos de los que queremos hacer, hay uno para como se debería ver en dispositivos móviles y otro para como se debería ver en computadora. Vamos a partir de dispositivos móviles y agrandarlo para computadores. Esto está bueno porque requiere menos código, tenemos que concentrarnos en el contenido más relevante
  Carpeta con
  index.html
  styles.css
  logo
  imagen
  2. Elegir la paleta de colores
  #4488ee
  #e2eaff fondo body
  #18233f
  #4988e9 logo
  Cargamos la imagen para ver que está bien
  3. Preparar los archivos a utilizar
  El color de fondo no puede ser blanco puro ni negro puto ni colores muy intensos o brillantes porque hace que la página parezca trucha
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #e2eaff;
  color: #101632dd;
}

div,
ul,
nav,
header,
footer,
a,
li,
label,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 100%;
  width: 64px;
  margin: 10px 20px;
}
