/*
  CREANDO UNA PÁGINA WEB
  Tenemos la complejidad por la cantidad de código y por el código en sí, que vamos a estar trabajando
  Es importante al emprender un proyecto grande como corregir errores sin afectar al resto del código y que tampoco sea tan complicado encontrarlos

  Sistema a usar Mobile First
  
  PASOS A SEGUIR EN UN PROYECTO REAL
  1. Crear el wireframe
  son como bocetos de los que queremos hacer, hay uno para como se debería ver en dispositivos móviles y otro para como se debería ver en computadora. Vamos a partir de dispositivos móviles y agrandarlo para computadores. Esto está bueno porque requiere menos código, tenemos que concentrarnos en el contenido más relevante
  Carpeta con
  index.html
  styles.css
  logo
  imagen
  2. Elegir la paleta de colores
  #4488ee
  #e2eaff fondo body
  #18233f
  #4988e9 logo
  Cargamos la imagen para ver que está bien
  3. Preparar los archivos a utilizar
  El color de fondo no puede ser blanco puro ni negro puto ni colores muy intensos o brillantes porque hace que la página parezca trucha
  4. Trabajamos el header con el navbar y el menú
  Vamos a usar container queries
  Hay que tener cuidado con las especificidades a la hora de  asignar las propiedades y ver donde comviene más por recursos y por especificidad
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #e2eaff;
  color: #101632dd;
}

div,
ul,
nav,
header,
footer,
a,
li,
label,
body {
  margin: 0;
  padding: 0;
}

/*------ HEADER SECTION ------*/
.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
}

.header__open-nav-button {
  color: #48e;
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  right: 10px;
}

.header .header__checkbox {
  display: none;
}

.header__nav {
  display: none;
  background-color: #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
  display: flex;
}

.header__logo {
  max-width: 100%;
  width: 80px;
  margin: 10px 20px;
}

.header__nav-item {
  list-style: none;
}

.header__nav-item a {
  color: #48e;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.header__nav-item :is(:hover, :active) {
  text-decoration: underline;
}

/*------ HEADER QUERIES ------*/
@container header (min-width: 600px) {
  .header__nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    justify-content: space-between;
  }

  .header__nav-list {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 20px;
    margin-right: 40px;
  }

  .header__open-nav-button {
    display: none;
  }
}
/*------ HEADER ENDS ------*/

/*------ PROFILE SECTION ------*/
