/* 
  BOX SIZING
  Como cada componente de la caja interactúa entre sí
  Porpiedad de css, afecta como funciona el modelo de caja predeterminado. 
  El modelo de caja determina como los navegadores calculen el tamaño de un elemento
  content-box: tamaño aplica sólo al contenido, la caja se agranda si agrego el padding, border 
  Al definir un alto y ancho se lo esto aplicando sólo al contenido, el padding y el border están fuera de esa medida y si se los agrego se agranda la caja
  Es la opción por defecto
  border-box; el contenido se ajusta a la caja, tamaño fijo que incluye al padding, border, etc
  Mantiene el alto y ancho especificado y ajusta o achica el contenido cuando agrego padding o border
*/

body {
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  margin: 10px;
}

.box-default {
  box-sizing: content-box;
  padding: 25px;
  border: 10px solid black;
}

.box-new {
  box-sizing: border-box;
  padding: 25px;
  border: 10px solid black;
}
