/*
  FUNCIÓN CALC
  
*/

body {
  margin: 0;
  font-family: sans-serif;
  padding: 20px;
  --color-principal: #48e;
  --tamaño-principal: 1rem;
}

* {
  box-sizing: border-box;
}

.box {
  --color-principal: #f44;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 30px;
  margin: 120px auto;
  padding: 0 40px;
  width: clamp(900px, 100%, 1400px);
  border: 6px solid #000;
  font-size: clamp(2.4rem, 2.2vw, 4rem);
}

.box:first-child {
  background-color: var(--color-principal);
}

.box:nth-child(2) {
  color: var(--color-principal);
  border: 6px solid var(--color-principal);
}

.box p {
  --color-principal: #4f4;
  color: var(--color-principal);
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}

body > p {
  color: var(--color-principal);
  font-size: 60px;
}

@property --color-principal {
  syntax: "<color>";
  inherit: false;
  initial-value: #48e;
}
