/* 
  SOMBRAS
  Las sombras son muy importantes en el diseño web, porque lo hacen ver más realista y hasta tridimensional. Después crear como una jerarquía visual porque te ayudan a destacar un elemento, además te ayudan a la legibilidad a veces cuando hay que estar separando contenido del fondo

  Hay tres tipos de sombras
  1. box-shadow: la sombra que le damos a una caja
  2. text-shadow: la sombra que le damos a un texto
  3. drop-shadow: es la sombre que le damos a un componente x

  box-shadow: cuanto se corre la sombre hacia  derecha, cuanto se corre la sombre hacia abajo, difuminado o desenfoque, expansión de la sombre y finalmente color.
  El primer parámetro es el movimiento horizontal, también se le puede dar valores negativos, el segundo parámetro es el moviemiento vertical, el tercer parámetro es la difuminación, el cuarto parámetro es la extensión de la sombra que se va a difuminar, el último parámetro es el color, que se suele usar con transparencia

  text-shadow: misma estructura que box-shadow sin la expansión

  filter: drop-shadow(0px 0px 3px #000) por ejemplo, sólo sirve para imagenes png sin fondo o con un canal alfa

  No exagerar con sombres muy marcadas, probar en varios navegadores para verificar compatibilidad 
*/

body {
  margin: 0;
}

.box {
  width: 280px;
  background: #e2e2e2;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 0 40px 0 #0007; /* la sombra más bruta en diseño */
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #444;
  font-size: 14px;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-top: 5px;
  color: #999;
  letter-spacing: 9px;
  text-shadow: 0 0 12px #f88;
}

p {
  list-style: none;
  text-align: justify;
  line-height: 1.4;
  text-shadow: 0 0 5px #f88;
}

img {
  width: 160px;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 #0007;
}
