/* 
  SELECT
  Para cambiar el color de fondo de las options debemos ponerle un background color del mismo color que el formulario
  Los navegadores están programados para no tocar mucho las options por lo que no podemos usar padding, margin, etc


*/

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #ddd;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.3em;
  padding: 10px;
}

form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto; /* centrar */
  box-shadow: 0 0 55px #fff2;
  margin-top: 50px;
  border-radius: 8px;
  font-size: 16px;
}

.form_input {
  padding: 6px 20px;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none; /* especificar propiedades a 0 */
  border: 1px solid #666;
  box-shadow: 0 0 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #ddd;
}

option {
  background-color: #222;
}

/* TEXTAREA */
textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
}

/* LABELS */
label {
  font-size: 0.88em;
  line-height: 2;
}

.checkbox {
  width: auto;
  height: 10px;
}
