/*
  MEDIA QUERIES
  Es una herramienta poderosísima que nos permite adapatar nuestra página web a cualquier resolución. Paa esto lo que hacemos es definir estilos distintos para cada resolución
  Le permiten al desarrollador usar la lógica de si... entonces... determinado estilo se aplica solamente si el dispositivo de visualización cumple ciertas condiciones
  Sintaxis
  @media not|only mediatype and (expression) | CSS-Code;
  @media es la regla que se aplica
  not evita que se aplique el estilo en los dispositivos que cumplen la condición
  only es para evitar que navegadores antiguos que no soportan el estilo apliquen la regla
  mediatype aplica al tipo de medio al que se le aplica la consulta
  and combinar varias expresiiones en la consulta
  expresiones determita las propiedades que quiero usar
  SE USA
  Abriendo un bloque para el media query y dentro definimos los estilos
  Ejemplo
  @media type {
    selector {
      propiedades: valores
    }
  }
  Tenemos una condición que se debe cumplir
  print se aplica sólo a los medios de impresión
  pt es una unidad de impresión
  screen se aplica solamente a  pantallas
  Esto es lo que hace posible el 99% de los layouts de hoy en día
*/

body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
}

.flex-item {
  background-color: #ccc;
  padding: 30px;
  border: 1px solid red;
  flex-grow: 1;
}

/*Para impresión
@media print {
  body {
    font-size: 200pt;
  }
}
*/

/*Para pantalla
@media screen and {max-width: 500px{
  body{
    font-size: 30px
    background-color: #000
    color: #fff  
  }
}
*/

@media screen and (max-width: 480px) {
  .flexbox {
    flex-direction: column;
  }
}
