* {
	font-family: "5en", sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: #48e;
}

.nav__li {
	display: inline-block;
	padding: 12px;
	color: #fff;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
}

.nav__li:hover a {
	color: #bbb;
}

.nav__li:hover {
	color: #bbb;
}

.nav__li span {
	box-sizing: border-box;
	text-align: right;
	margin: 5px;
}

.nav__responsive-button-container {
	position: absolute;
	width: 100%;
	font-size: 25px;
	background-color: #69c;
}

.nav__responsive-button {
	padding: 6px 20px;
	text-align: right;
	width: 100%;
}

@media only screen and (max-width: 500px) {
	.nav__ul {
		display: none;
	}

	.nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;
		list-style: none;
		background-color: #9bf;
		height: 100%;
		padding-top: 27px;
	}

	.nav__responsive-li {
		width: 100%;
		padding: 9px 20px;
	}

	.nav__responsive-li span {
		box-sizing: border-box;
		text-align: center;
		margin: 5px;
		width: 30px;
		color: #016;
	}

	.nav__responsive-li a {
		color: #016;
		text-decoration: none;
	}
}
