* {
	font-family: "5en", sans-serif;
	font-weight: 100;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: slateblue;
}

.nav__li {
	display: inline-block;
	padding: 12px;
	color: #fff;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
}

.nav__li span {
	box-sizing: border-box;
	text-align: right;
	margin: 5px;
}
