/*
  
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.box {
  font-size: 30px;
  padding: 0 40px;
  border: 6px solid #000;
  width: 50vw;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #6af #fff;
  scrollbar-width: thin;
}

.crecer {
  height: 100vh;
}

a {
  color: #000;
}
