/*
  EJERCICIO "HOLY GRAIL" CON FLEXBOX 
  Patrón de diseño, histórico.
  Vamos a empezar a trabajar con el layout, para ener preparado todo para el contenido

  El Saint Grail Layout se puede componer de tres etapas
  1. La etapa principal que es el header con un menú de navegación
  2. Después tenemos la parte principal, el main content y dos columnas
  3. En la parte de abajo el footer
  Estas cinco secciones componen el Saint Grail
  Son tres secciones donde la de arriba y la de abajo están enteras y la del medio está dividida
  En el main section el contenido va a estar siempre dependiendo del contenido del otro 

  Cuando el contenido es muy grande lo recomendado es que se achique

  para que sirve dar al main wrapper un max-width de 1024 px?
  Es por un tema de legibilidad, hay que darle a usuario una sección donde leer sin estorbos 
*/

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: #333;
}

div,
body {
  box-sizing: border-box;
}

div,
body,
header,
nav,
ul,
footer {
  box-sizing: border-box;
}

.main-wrapper,
header,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: #fff;
}

p {
  text-wrap: pretty;
  color: #fff;
}

/*HEADER*/
.header {
  background-color: #48e;
}

.main-navbar ul {
  display: flex;
  padding: 0;
}

.main-navbar li {
  list-style: none;
  margin: 4px;
}

.main-navbar a {
  color: #fff;
  display: inline-block;
  padding: 6px 9px;
}

nav a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/*MAIN SECTION*/
.main-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 1024px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

aside,
main {
  padding: 10px 20px;
  flex-basis: 0;
  background-color: #000;
}

main {
  min-width: 300px;
  flex-grow: 2;
}

.main-wrapper aside {
  flex-grow: 1;
}

.secondary-navbar {
  min-width: 10rem;
  text-align: center;
}

.secondary-navbar ul {
  padding: 0;
}

.secondary-navbar li {
  list-style: none;
}

.secondary-navbar a {
  color: #48e;
  display: inline-block;
  padding: 6px 10px;
}

aside:last-child {
  min-width: 10rem;
}

/*FOOTER*/
footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 40px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 800px) {
  aside:last-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-wrapper {
    flex-direction: column;
  }
}
