/*
  ANIMACIÓN POR EL VIEW
  No depende del scroll, depende de si el elemento es o no visible
  view-timeline dice al navegador cual es el elemento que debe ser observaro, es decir se pone en el elemento que se va a animar y lleva el valor --nombre
  Le damos un nombre cuando queremos que la animación dependa de si otro elemento se está viendo

  En la animación por scroll el timeline se definía en el contenedor porque dependía del scroll del contenedor
*/

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

* {
  box-sizing: border-box;
}

.crecedor {
  height: 100vh;
}

.box {
  view-timeline: --cajita block;
  background-color: #48e;
  padding: 20px;
  animation: llenar-barra;
  animation-timeline: --cajita;
  animation-timing-function: linear;
}

@keyframes llenar-barra {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    background-color: #f33;
  }
}
