/*
  FLEX WRAP y FLEX FLOW
  Flex wrap permite controlar el comportamiento de los flex items cuando el espacio del contenedor es insuficienta. Se le da a la caja contenedora, no a los hijos

  - nowrap valor por defecto, no se pueden bajar los flex items

  - wrap permite a los flex items pasar a la siguiente línea. Todos los elementos están alineados de una forma extraña

  - wrap reverse es lo mismo pero los elementos se ordenan al revés

  Flex flow permite definir dirección y wrap. No es muy usado

  flex grow indica cuanto puede crecer
  
  flex basis indica lo máximo que se puede recortar
*/

body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid #000;
  margin: 20px;
}

.flex-item {
  width: 100px;
  background-color: #800;
  margin: 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.flex-item:first-child {
  background-color: #f77;
}
.flex-item:last-child {
  background-color: #000;
}
